---
import { SITE } from 'astrowind:config';
---

<span
  class="logo-text self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl whitespace-nowrap"
  style="text-transform: uppercase; letter-spacing: 0.15em; text-shadow: 2px 2px 4px rgba(220, 38, 38, 0.1);"
>
  {SITE?.name}
</span>
